$primaryColor: #6231ec;
$backgroundColor: white;

@import "./animations";

.task_container {
  @include flexCenter();
  text-align: center;

  height: 80vh;
  width: 100%;
  position:relative;
  background-color: $backgroundColor;
  
}

.container {
  width: 400px;

  height: 340px;
  background-color: $backgroundColor;
  border-radius: 60px;
  border: 1px solid $primaryColor;
  position:absolute;
}

/////////////FOR MOBILE SCREEN///////////

@media (max-width: 700px) {
  .container {
    width: 380px;

    height: 340px;
  }
}

/////////// Language container///////

.lang_container{
display: flex;
 color:$primaryColor;
 flex-direction: row;
 text-align: left;
height:10vh;
display: flex;

width: 200px;


ul{
  flex-direction: row;
  display: flex;
  
}
li{
  margin: 0 20px 0 20px;
  
}

}


